<div class="btn-group dropup position-fixed bottom-0 end-0 mb-5 me-5">
    <button type="button" class="btn btn-secondary rounded-circle align-items-center btn-circle" data-bs-toggle="dropdown" style="aspect-ratio: 1/1">
        <span class="material-symbols-outlined align-middle ">
            add
        </span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Create Deck</a> </li>          
        <li><a href="#">Create Folder</a> </li>
        <li><section>
            <div class="container">
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reg-modal">
                        Import Code
                    </button>
                </div>
            </div>
        </section>
        </li>
    </ul>
</div>