@*<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card text-center ">
        <div class="card-header">
            <h5 class="card-title">Enter your Import-Code</h5>
        </div>
        <div class="card-body">
            <textarea class="form-control align-content-center mb-3" placeholder="Code" id="floatingTextarea2" style="height: 20px; width: 200px;"></textarea>
            <a href="#" class="btn btn-primary">Submit</a>
        </div>
    </div>
</div>*@

@*
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">My Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                This is a modal pop-up component!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>  
</div>
*@
<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="reg-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"> Enter your Import-Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>cdaml;dcl</p>
                <label for="modal-email" class="form-label"></label>
                <input type="email" class="form-contol" id="modal-email" placeholder="hallo@gmail.com">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>