<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="reg-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"> Enter your Import-Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="modal-email" class="form-label"></label>
                <input type="email" class="form-contol" id="modal-email" placeholder="Importcode">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>