.breadcrumbnav{
    list-style: none;
    display: flex;
}

.breadcrumbnav  li{
    display: inline-block;
    font-weight: bold;
}

.breadcrumbnav li::after {
    content: "  >  ";
}

.breadcrumbnav li:last-child::after {
    content: "";
}

.breadcrumbnav a{
    font-weight: normal;
    text-decoration: none;
    color: #222;
}

.breadcrumbnav a:hover{
    color: mediumpurple;
    text-decoration: underline;
}


.navbar-custom .container-custom .content-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-bottom: 15px;
}

.navbar-custom .container-custom .content-right a{
    font-weight: normal;
    text-decoration: none;
    color: #222;
}

.navbar-custom .container-custom .content-right a:hover{

}