<div class="col-3">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="btn btn-success" href="/Card/View/@Card.CardId">Open</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="/Card/Edit/@Card.CardId">Edit</a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-truncate" style="max-height: 3rem">@Card.Text</p>
        </div>
    </div>
</div>