<div class="card text-white bg-secondary">
    <div class="card-body" style="width: 24rem; height: 18rem;">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            @ChildContent
        </div>
    </div>
</div>