<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body" style="width: 24rem; height: 18rem;">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                @ChildContent
            </div>
        </div>
    </div>
</div>