@page "/home"
@rendermode InteractiveAuto
@inject NavigationManager navManager


<PageTitle>Home</PageTitle>


<div class="container text-center">
    <div class="row row-cols-3">
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
    </div>
</div>


@* @for (int i = 0; i < 10; i++) *@
@* { *@
@*     <div style="color: var(--bs-body-color)"> *@
@*         <div class="col" style="border: 1px solid orangered;"> *@
@*             Column *@
@*         </div> *@
@*     </div> *@
@* } *@