@page "/import_code"
@rendermode InteractiveServer
@inject NavigationManager navManager

<PageTitle>Import Cardset</PageTitle>

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card text-center ">
        <div class="card-header">
            <h5 class="card-title">Enter your Import-Code</h5>
        </div>
        <div class="card-body">
            <textarea class="form-control align-content-center mb-3" placeholder="Code" id="floatingTextarea2" style="height: 20px; width: 200px;"></textarea>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>


