@page "/"
@layout AnonymousLayout

<PageTitle>Flashiercards</PageTitle>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="favicon.svg" class="d-block mx-lg-auto img-fluid" style="min-width: 200px" alt="Logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Flashiercards</h1>
            <p class="lead">
            Revolutionize the way you study with our FlashiercardsApp Manager!
            Whether you're a student, a professional, or just someone who loves to learn, our app is designed to enhance your learning experience.
            </p>
            <p class="lead">
                Don't miss out on the chance to boost your learning efficiency. Sign up in our FlashiercardsApp Manager today and take your studying to the next level!
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/signup"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Signup</button></a>
                <a href="/login"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button></a>
            </div>
        </div>
    </div>
</div>