@import "bootstrap/scss/bootstrap";

$breadcrumb-divider-color: $secondary;
$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");

[data-bs-theme="dark"] {
  --bs-primary: #{$orange-500};
  
  .btn-primary {
    --bs-btn-bg: #{$orange-500};
    --bs-btn-border-color: #{$orange-500};
    --bs-btn-hover-border-color: #{$orange-700};
    --bs-btn-hover-bg: #{$orange-600};
    --bt-btn-active-bg: #{$orange-700};
    --bs-btn-active-border-color: #{$orange-800};
  }
  
  a{
    --bs-link-color: #{$orange-700};
    --bs-link-color-rgb: #{$orange-500};
    color: var(--bs-link-color);
  }
}