@page "/Card/View/{CardId}"
@rendermode InteractiveServer

<PageTitle>@FrontCard?.Deck.DeckTitle</PageTitle>

<div class="d-flex justify-content-center align-items-center position-relative" style="height: calc(100vh - 100px); flex-direction: column; margin-top: 50px;">
    <div class="d-flex justify-content-end w-100 px-3" style="position: absolute; top: 20px; right: 20px;">
        <div class="d-flex align-items-center">
            <button @onclick="EditCard" class="btn btn-primary">Edit</button>
            <a href="/Deck/@FrontCard?.DeckId" class="btn btn-secondary ml-2">Card List</a>
        </div>
    </div>
    <div class="d-flex justify-content-between w-100" style="position: absolute; top: 50%; transform: translateY(-50%); padding: 0 10rem;">
        <span class="material-symbols-outlined" style="cursor: pointer;" @onclick="PreviousCard">arrow_back</span>
        <span class="material-symbols-outlined" style="cursor: pointer;" @onclick="NextCard">arrow_forward</span>
    </div>
    @if (edit)
    {
        <div class="d-flex flex-column justify-content-center align-items-center" style="width: 54rem; margin-bottom: 20px;">
            
            <EditCardComponent><textarea class="form-control" id="floatingTextarea2" style="height: 200px; resize: none;" @bind="@FrontCard.Text"></textarea></EditCardComponent>
            <EditCardComponent><textarea class="form-control" id="floatingTextarea2" style="height: 200px; resize: none;" @bind="@BackCard.Text"></textarea></EditCardComponent>
            <button @onclick="SaveCard" class="btn btn-success">Save Card</button>
        </div>
    }
    else
    {
        <a class="btn p-0" @onclick="ToggleCard">
            <CardViewComponent>@FrontCard?.Text</CardViewComponent>
        </a>
        @if (!_showFront)
        {
            <CardViewComponent>@BackCard?.Text</CardViewComponent>
        }
    }
</div>


