@page "/Create/Card"
@rendermode InteractiveServer

<PageTitle>Create Card</PageTitle>

<div class="d-flex justify-content-center align-items-center position-relative" style="height: 100vh; flex-direction: column;">
    <div class="card-body d-flex justify-content-center align-items-center" style="width: 54rem; height: 18rem; margin-bottom: 0;">
        <CreateCardComponent Title="Question"></CreateCardComponent>
    </div>
    <div class="card-body d-flex justify-content-center align-items-center" style="width: 54rem; height: 18rem; margin-top: 0;">
        <CreateCardComponent Title="Answer"></CreateCardComponent>
    </div>
    <button class="btn btn-success position-absolute top-75 start-50 translate-middle-y rounded-circle">
        <span class="material-symbols-outlined fix">
            check
        </span>
    </button>
</div>

