@page "/Card/Edit/{CardId}"
@rendermode InteractiveServer

<PageTitle>@FrontCard?.Deck.DeckTitle</PageTitle>

<div class="d-flex justify-content-center align-items-center position-relative" style="height: calc(100vh - 100px); flex-direction: column; margin-top: 50px;">
    <div class="d-flex justify-content-end w-100 px-3" style="position: absolute; top: 20px; right: 20px;">
        <div class="d-flex align-items-center">
            <a @onclick="EditCardBtn" class="btn btn-primary">Edit</a>
            <a href="/Deck/@FrontCard?.DeckId" class="btn btn-secondary ml-2">Card List</a>
            <a @onclick="DeleteCard" class="btn btn-danger">Delete</a>
        </div>
    </div>
        @if (FrontCard is not null && BackCard is not null)
        {
            <div class="d-flex flex-column justify-content-center align-items-center" style="width: 54rem; margin-bottom: 20px;">
            
                <EditCardComponent><textarea class="form-control" id="Textarea" style="height: 200px; resize: none;" @bind="@FrontCard.Text"></textarea></EditCardComponent>
                <EditCardComponent><textarea class="form-control" id="Textarea1" style="height: 200px; resize: none;" @bind="@BackCard.Text"></textarea></EditCardComponent>
                <button @onclick="SaveCard" class="btn btn-success">Save Card</button>
            </div>
        }
        else
        {
            <p>An Error Occured!</p>
        }
</div>


